*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header{
    position: sticky;
    display: flex;
    z-index: 3;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 6em;
    background-color: #131313;
    border-bottom: wheat solid 4px;
}

.nav{
    position: absolute;
    margin-left: 43em;
    margin-top: 25px;
}

.nav-list{
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    display: table-row;
    font-size: 30px;
    
    
    
}

.nav-list li{
    padding-right: 30px;
    display: table-cell;
}

.nav-list a{
    color: white;
    transition: 100ms;
    border-bottom: whitesmoke solid 2px;
    border-width: 0;
}

.nav-list a:hover{
    color: wheat;
    border-width: 3px;
}

.hero{
    width: 100%;
    height: 855px;
    background: #343434;
}

.triangle-down{
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 40px solid wheat;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero-title h1{
    text-align: center;
    color: white;
    margin-top: 300px;
    font-size: 150px;
    font-family: sans-serif;
    letter-spacing: -10px;
    
}

.glow span{
    transition: all 0.3s;
}

.glow span:hover{
    text-shadow: 0 0 10px #06f9fb,
    0 0 30px #06f9fb,
    0 0 80px #06f9fb;
    color: #fff;
}


